.home {
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-areas: 
  'header header'
  'sidebar content';
  grid-template-columns: 115px auto;
  grid-template-rows: 80px auto;

  .area1 {
    grid-area: header;
    width: 100%;
    height: 80px;
  }
  .area2 {
    grid-area: sidebar;
    width: 100%;
    max-width: 115px;
  }
  .area3 {
    grid-area: content;
    width: 100%;
    padding-inline: 64px;
    padding-block: 40px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .loader-container {
    z-index: 99999;
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.591);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}