.adminManage {
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow: hidden;
    .title-container {
        border-bottom: 1px solid var(--KyoSync-Blue, #007AFF);

        h1 {
            color: #000;
            font-family: SF Pro;
            font-size: 40px;
            font-style: normal;
            font-weight: 510;
            line-height: normal;
            margin-bottom: 24px;
        }
    }

    .table-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        .filter-row {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
            position: relative;

            .selected-number {
                color: var(--KyoSync-Blue, var(--KyoSync-Blue, #007AFF));
                font-family: SF Pro;
                font-size: 16px;
                font-style: normal;
                font-weight: 590;
                line-height: 24px;
                /* 150% */
            }

            .filter-inputs {
                display: flex;
                gap: 16px;

                input {
                    width: 500px;
                    display: flex;
                    padding: 18px 34px 19px 37px;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 128px;
                    border-radius: 12px;
                    border: 1px solid var(--grays-gray-4, #D1D1D6);
                    background: var(--Kyo-White, #FFF);
                }

            }
            & .active{
                right: 0 !important;
            }
            .options {
                &::-webkit-scrollbar{
                    display: none;
                }
                overflow: hidden;
                overflow-y: scroll;
                position: absolute;
                top:calc(100% + 20px);
                border-radius: 10px;
                margin-bottom: 1000px;
                border: 1px solid var(--grays-gray-5, #E5E5EA);
                background: #FFF;
                z-index: 1000;
                right: -100vw;
                transition: all 250ms ease;
                box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.10);
                display: flex;
                padding: 40px;
                align-items: flex-start;
                flex-direction: column;
                gap: 24px;
    
                .sect {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
    
                    h3 {
                        color: var(--KyoSync-Black, #000);
                        font-family: SF Pro;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 590;
                        line-height: 24px;
                        /* 150% */
                    }
    
                    .btn-grp {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
    
                        button {
                            display: flex;
                            width: 286px;
                            padding: 10px 0px 9px 0px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 12px;
                            border: 1px solid var(--grays-gray-4, #D1D1D6);
                            background: var(--Kyo-White, #FFF);
                        }
    
                        button.active {
                            border: 1px solid var(--KyoSync-Blue, #007AFF) !important;
                            background: var(--KyoSync-Blue, #007AFF) !important;
                            color: var(--KyoSync-White, var(--Kyo-White, #FFF)) !important;
                        }
    
                        .col-item {
                            display: flex;
                            gap: 8px;
    
                            input {
                                width: 22px;
                                height: 22px;
                            }
    
                            p {
                                color: #000;
                                text-align: center;
                                font-feature-settings: 'clig' off, 'liga' off;
                                font-family: SF Pro;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 510;
                                line-height: 22px;
                                /* 137.5% */
                                letter-spacing: -0.4px;
                            }
                        }
                    }
                    .update-table {
                        button {
                            display: flex;
                            width: 286px;
                            padding: 10px 10px 10px 10px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 12px;
                            border: 1px solid var(--grays-gray-4, #D1D1D6);
                            background: var(--Kyo-White, #FFF);
                        }
                    }
                }
            }

        }

        

        .tableadmin {
            overflow-y: scroll; 
            width: 100%;
            td.ant-table-cell,th {
                padding-right: 40px !important;
                width: max-content !important;
            }
            table {
                width: 100% !important;
                .clipboard,.download{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    // background-color: white;
                    cursor: pointer;
                }
            }

            .status {
                display: flex;
                gap: 8px;
                width: min-content;
            }
        }
    }

    .bottom-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .a {
            flex: 1;
        }

        .pagination-container {
            flex: 1;
            display: flex;
            gap: 12px;
            align-items: center;

            .prev-btn {}

            .next-btn {}

            .end-btn {}

            .page {
                display: flex;
                width: 32px;
                padding: 6px 0px;
                justify-content: center;
                align-items: center;
                color: #111;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 142.857% */
            }

            .active {
                border-radius: 4px;
                background: var(--KyoSync-Yellow, #FFD600);
            }
        }


        .action-btn-container {
            display: flex;
            gap: 16px;
            flex: 1;
            justify-content: flex-end;

            .decline {
                display: flex;
                padding: 18px 29px 19px 31px;
                justify-content: center;
                align-items: center;
                color: var(--KyoSync-Blue, #007AFF);
                font-family: SF Pro;
                font-size: 18px;
                font-style: normal;
                font-weight: 510;
                line-height: 24px;
                /* 133.333% */
                border-radius: 15px;
                border: 1px solid var(--KyoSync-Blue, #007AFF);
            }

            .accept {
                display: flex;
                padding: 18px 31px 19px 33px;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                background: var(--KyoSync-Blue, #007AFF);
                color: var(--Kyo-White, #FFF);
                font-family: SF Pro;
                font-size: 18px;
                font-style: normal;
                font-weight: 510;
                line-height: 24px;
                /* 133.333% */
            }
        }

        
    }
}
.search-container{
    position: relative;
    .search-icon{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
}
.searchBar::after{
    content: "\2022"; /* Unicode character for a bullet point */
  position: absolute; /* Position relative to the parent element */
  top: 50%; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 24px;
  color: #ff0000; /* Adjust the color as needed */
  transform: translateY(-50%); 
}